Hello, and welcome to the first part of my coding segments for the Capstone 2 project. This notebook will cover the data cleanding (wrangling) part of my project. Some things to note here is that I don't believe that this will take all that much time as my inital glance at the dataset seemed to show that it was mostly complete. That said, I'll just jump right in with my imports.

In [1]:
#Run imports
import pandas as pd
import numpy as np
#I probably won't do a whole lot of visualizations but I'll import these just in case.
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
#And take in my dataset from the data folder as a dataframe.
df = pd.read_csv('data/hour.csv')
df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [3]:
#For this project I will be working with the hour by hour data as then I can identify hours where there is higher ridership
#and lower ridership as that will be benefical to the varialbe pricing model.
df.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [5]:
#It looks like there are no null values, but that does not mean there is nothing to be done. First, I'll change the dteday
#column to a datetime object(for a full description of what each column is go to 
#(https://archive.ics.uci.edu/ml/datasets/bike+sharing+dataset)
df['date'] = pd.to_datetime(df['dteday'].astype(str), infer_datetime_format=True)
df['date']

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
           ...
17374   2012-12-31
17375   2012-12-31
17376   2012-12-31
17377   2012-12-31
17378   2012-12-31
Name: date, Length: 17379, dtype: datetime64[ns]

In [6]:
#And now to drop the features I don't need (dteday as I just made the replacement for it and year and month as they just
#repeat information from the date column as a category row which will eventially create additional dimensionality and 
#instant because it is just another column that basically matches the index +1 and I don't think that it is needed).
df.drop(columns = ['dteday', 'yr', 'mnth', 'instant'], inplace = True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      17379 non-null  int64
 1   hr          17379 non-null  int64
 2   holiday     17379 non-null  int64
 3   weekday     17379 non-null  int64
 4   workingday  17379 non-null  int64
 5   weathersit  17379 non-null  int64
 6   temp        17379 non-null  float64
 7   atemp       17379 non-null  float64
 8   hum         17379 non-null  float64
 9   windspeed   17379 non-null  float64
 10  casual      17379 non-null  int64
 11  registered  17379 non-null  int64
 12  cnt         17379 non-null  int64
 13  date        17379 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(9)
memory usage: 1.9 MB

In [7]:
df.head()

,season,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,date
0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16,2011-01-01
1,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40,2011-01-01
2,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32,2011-01-01
3,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13,2011-01-01
4,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1,2011-01-01

In [8]:
#Okay, now that we have gotten rid of some of the unneeded columns, it's time to expand the categorical variables into their
#own features so that regression can be done later (this doesn't need to be done right now, but I don't have many other 
#transformations in mind right now that need done so I'm just going to go with this.)

#I want the dummy rows to actually describe what each thing is, so I'll reassingn the row values to what they are before I 
#get the dummy rows
w_days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
w_sit = ['Best', 'Okay', 'Bad', 'Worst']
season_d = ['Winter', 'Spring', 'Summer', 'Fall']
#Hours are already fine

In [9]:
new_season = []
for item in df['season']:
    if item == 1:
        new_season.append(season_d[0])
    elif item == 2:
        new_season.append(season_d[1])
    elif item == 3:
        new_season.append(season_d[2])
    elif item == 4:
        new_season.append(season_d[3])
    else:
        raise Exception("Number outside of expectation recieved.")

In [10]:
new_days = []
for item in df['weekday']:
    if item == 0:
        new_days.append(w_days[0])
    elif item == 1:
        new_days.append(w_days[1])
    elif item == 2:
        new_days.append(w_days[2])
    elif item == 3:
        new_days.append(w_days[3])
    elif item == 4:
        new_days.append(w_days[4])
    elif item == 5:
        new_days.append(w_days[5])
    elif item == 6:
        new_days.append(w_days[6])
    else:
        raise Exception("Number outside of expectation recieved.")

In [11]:
#And finally the weather situation
new_wsit = []
for item in df['weathersit']:
    if item == 1:
        new_wsit.append(w_sit[0])
    elif item == 2:
        new_wsit.append(w_sit[1])
    elif item == 3:
        new_wsit.append(w_sit[2])
    elif item == 4:
        new_wsit.append(w_sit[3])
    else:
        raise Exception("Number outside of expectation recieved.")

In [12]:
#Okay, now time to replace the old columns with the new ones.
df['weathersit'] = new_wsit
df['weekday'] = new_days
df['season'] = new_season

In [13]:
#And now I'm ready to make the descriptive dummy rows
df_final = pd.get_dummies(df, columns = ['season', 'hr', 'weekday', 'weathersit'], drop_first = True)
print(df_final.columns)

Index(['holiday', 'workingday', 'temp', 'atemp', 'hum', 'windspeed', 'casual',
       'registered', 'cnt', 'date', 'season_Spring', 'season_Summer',
       'season_Winter', 'hr_1', 'hr_2', 'hr_3', 'hr_4', 'hr_5', 'hr_6', 'hr_7',
       'hr_8', 'hr_9', 'hr_10', 'hr_11', 'hr_12', 'hr_13', 'hr_14', 'hr_15',
       'hr_16', 'hr_17', 'hr_18', 'hr_19', 'hr_20', 'hr_21', 'hr_22', 'hr_23',
       'weekday_Monday', 'weekday_Saturday', 'weekday_Sunday',
       'weekday_Thursday', 'weekday_Tuesday', 'weekday_Wednesday',
       'weathersit_Best', 'weathersit_Okay', 'weathersit_Worst'],
      dtype='object')

In [14]:
#As I'm making the df_final under the idea of it being mostly ready for modeling I also want to get rid of the casual and
#registered counts as I only care about the total for the regression. 
df_final.drop(columns = ['casual', 'registered'], inplace = True)
df_final.head()

,holiday,workingday,temp,atemp,hum,windspeed,cnt,date,season_Spring,season_Summer,...,hr_23,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,weathersit_Best,weathersit_Okay,weathersit_Worst
0,0,0,0.24,0.2879,0.81,0.0,16,2011-01-01,0,0,...,0,0,1,0,0,0,0,1,0,0
1,0,0,0.22,0.2727,0.80,0.0,40,2011-01-01,0,0,...,0,0,1,0,0,0,0,1,0,0
2,0,0,0.22,0.2727,0.80,0.0,32,2011-01-01,0,0,...,0,0,1,0,0,0,0,1,0,0
3,0,0,0.24,0.2879,0.75,0.0,13,2011-01-01,0,0,...,0,0,1,0,0,0,0,1,0,0
4,0,0,0.24,0.2879,0.75,0.0,1,2011-01-01,0,0,...,0,0,1,0,0,0,0,1,0,0

In [15]:
df.head()

,season,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,date
0,Winter,0,0,Saturday,0,Best,0.24,0.2879,0.81,0.0,3,13,16,2011-01-01
1,Winter,1,0,Saturday,0,Best,0.22,0.2727,0.80,0.0,8,32,40,2011-01-01
2,Winter,2,0,Saturday,0,Best,0.22,0.2727,0.80,0.0,5,27,32,2011-01-01
3,Winter,3,0,Saturday,0,Best,0.24,0.2879,0.75,0.0,3,10,13,2011-01-01
4,Winter,4,0,Saturday,0,Best,0.24,0.2879,0.75,0.0,0,1,1,2011-01-01

Okay, now I have two dataframes that I feel comfortable with. I want two as the inital one should be easier to do EDA on and the final one should be ready for my regression analysis (save for making a train/test split). While this should be more of the preprocessing step, I thought I would do it here and do any additional steps later as needed as the dataset I found realistically didn't need a whole lot of cleaning done. With that said, I'll just export both of these dataframes for later use and I'll move on to the the exporitory data analysis.

In [16]:
df.to_csv('data/bikes_cleaned.csv')
df_final.to_csv('data/bikes_prepped.csv')